{{#unless articles}}

<h2>No Saved Articles</h2>


{{else}}
{{#each articles}}

{{!-- Displays all articles with the value of saved: true --}}
{{#if saved}}
<div class="row">
    <div class="col-sm-12 article card" data-id={{id}}>
        <div class="article-header">

            <a href="{{link}}" target="_blank">
                <h2>{{title}}</h2>
            </a>
        </div>

        <hr class="mx-auto">


        <div class="article-body">
            <p>{{description}}</p>

        </div>

        <hr class="mx-auto">


        <button class="btn btn-danger delete mx-auto">Remove Article</button>
        <button class="btn btn-dark comment mx-auto" buttonID={{id}} data-toggle="modal"
            data-target="#{{id}}">Comment</button>
    </div>

</div>

<div class="modal fade" id={{id}} tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Article Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-{{id}}">
            </div>
            <div class="modal-footer mx-auto">
                <form>
                    <div class="form-group">
                        <label>Title:</label>
                        <input class="form-control" name="title" id="title-{{id}}">
                    </div>
                    <div class="form-group">
                        <label>Comment:</label>
                        <textarea name="body" class="form-control" id="body-{{id}}"></textarea>
                    </div>
                    <button type="button" class="btn btn-dark submitComment" id={{id}}>Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{/each}}
{{/unless}}

